body {
  margin: 0%;
  padding: 0%;
  color: rgb(18, 18, 18);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image:url("https://previews.123rf.com/images/dizanna/dizanna1611/dizanna161100287/65297738-hand-writing-bmi-body-mass-index-with-marker-concept-background.jpg");
}
.main {
  position: absolute;
  top: 65%;
  left: 45%;
  transform: translate(-50%, -50%);
  padding: 12px;
  background: rgb(96, 220, 131);
  border-radius: 15px;
  box-shadow: rgb(18, 22, 26) 0 px 20px 30px -10px;
}
input {
  outline: none;
  border: none;
  padding: 5px;
}
button {
  color: rgb(0, 0, 0);
  padding: 10px;
  border: solid rgb(5, 13, 246);
  background: rgb(255, 0, 0);
  display: block;
  margin-top: 10%;
  cursor: pointer;
}
span {
  color: red;
}
button:hover{
  background-color: blue;
  border-color: black;
}
